.card {
  background: #fff;
  border-radius: 2px;
/*  height: 325px;
*/  margin: 0.8rem;
  position: relative;
  width: 150px;
  height: 150px;
  box-shadow: 0 6px 6px #999, 0 6px 6px #999;
  text-align: left;
}

.card > .img-container {
  text-align: center;
}

.card > .img-container > img {
  width: 150px;
  height: 150px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}


